@import './variables';

.ace_editor .ace_gutter {
	background: #ebebeb !important;
	color: #333
}

.ace_editor .ace_print-margin {
	width: 1px;
	background: #ebebeb !important;
}

.ace_editor {
	background-color: $color-background-content !important;
	color: #010101 !important;
}

.ace_editor .ace_cursor {
	color: #010101 !important;
}

.ace_editor .ace_keyword,
.ace_editor .ace_meta,
.ace_editor .ace_variable.ace_language {
	color: $color-primary !important;
}

.ace_editor .ace_constant.ace_character,
.ace_editor .ace_constant.ace_other {
	color: #1798b4 !important;
}


.ace_editor .ace_entity.ace_other.ace_attribute-name,
.ace_editor .ace_support.ace_constant,
.ace_editor .ace_support.ace_function {
	color: #79c81c !important;

}

.ace_editor .ace_constant.ace_numeric,
.ace_editor .ace_constant.ace_language {
	color: #4316d4 !important;
}

.ace_editor .ace_text.ace_xml {
	color: #010101 !important;
}

.ace_editor .ace_fold {
	background-color: $color-primary !important;
	border-color: #010101 !important;
}

.ace_editor .ace_entity.ace_name.ace_tag,
.ace_editor .ace_support.ace_class,
.ace_editor .ace_support.ace_type {
	color: #790EAD !important;
}

.ace_editor .ace_storage {
	color: $color-primary !important;
}

.ace_editor .ace_string {
	color: $color-secondary !important;
}