$padding: 36px;
$width: 900px;
$transition-time: 0.3s;
$color-text: #010101;
$color-primary:  #ff1a48;
$color-secondary:#fe871c;
$color-background: #0b0e3c;
$color-background-secondary: #0b1a74;
$background-light: #f9f9f9;